<p-toolbar styleClass="site-bg-primary-color header-customizado fixed top-0 left-0 w-full z-1000 shadow-2">
  <ng-template pTemplate="start">
    <div class="flex align-items-center flex-column responsive-avatar">
      <div class="flex align-items-center gap-2 ">
        <p-avatar image="icones/eu.jpg" shape="circle" />
        <span class="font-bold text-bluegray-50  responsive-name">
          Luiz Augusto

        </span>
      </div>
      <div class="flex mt-0 responsive-buttons">
        <a href="https://www.linkedin.com/in/luiz-augustojunior/" target="_blank">
          <p-button icon=" pi pi-linkedin" styleClass="btn-contato-personalizado pt-0 focus:site-bg-primary-color" />
        </a>
        <a href="https://github.com/lajuniorfe" target="_blank">
          <p-button icon="pi pi-github" styleClass="btn-contato-personalizado pt-0" />
        </a>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="center">
    @for(item of itensMenu; track item.url){
    <div class="flex flex-wrap align-items-center gap-3">
      <a (click)="navegarMenu(item.url)"
        class="inline-flex justify-content-center align-items-center text-white pr-2 border-circle hover:bg-white-alpha-10 transition-all transition-duration-200 cursor-pointer text-decoration-none">
        <i [class]="item.icon"></i>
        <p class="m-0 pl-1">{{item.label}}</p>
      </a>
    </div>
    }
  </ng-template>
  <ng-template pTemplate="end">
  </ng-template>
</p-toolbar>
