<div class="mt-8">
  <div class=" flex align-content-start justify-content-center">
    <div class="flex align-items-start">
      <div class="border-circle  w-full overflow-hidden ">
        <p-image src="icones/eu.jpg" alt="Image" />
      </div>
    </div>
  </div>
  <h2 class="site-text-primary text-center">Olá, meu nome é Luiz Augusto</h2>
  <p class="site-text-primary text-center">
    Apaixonado por desafios e inovação, busco excelência em soluções que unem tecnologia e praticidade.
</div>
