<p-fieldset styleClass="fieldset-custom-apresentacao">
  <ng-template pTemplate="header">
    <div class="flex align-items-center gap-2 px-2 ">
      <span class="font-bold">Luiz Augusto</span>
    </div>
  </ng-template>
  <p class="m-0 site-text-primary">
    Olá, meu nome é Luiz Augusto e sou um desenvolvedor de software full stack com experiência em diversas tecnologias,
    incluindo .NET, Angular, e bancos de dados SQL. Meu portfólio é uma vitrine das minhas habilidades técnicas, onde
    você encontrará meu <a href="" class="site-text-secundary">currículo</a>, <a href=""
      class="site-text-secundary">projetos</a> em que trabalhei e algumas curiosidades
    <a href="" class="site-text-secundary">sobre mim</a>.
  </p>
</p-fieldset>