<div class="mt-8">
  <h2 class="site-text-primary text-center">Luiz Augusto</h2>
  <h1 class="site-text-primary text-center"> Dev full stack</h1>
  <div class=" flex align-content-start justify-content-center">
    <div class="flex align-items-start">
      <div class="border-circle border-double w-full overflow-hidden ">
        <p-image src="icones/eu.jpg" alt="Image" />
      </div>
    </div>
  </div>
  <p class="site-text-primary text-center">
    Codaremos cada linha hoje para colhermos o amanhã.
</div>
