<article>
  <div class="flex justify-content-between flex-wrap ml-3 mr-3">
    <div class="flex align-items-center justify-content-center">
      <h2 class="site-text-primary">Projetos</h2>
    </div>
    <div class="flex align-items-center justify-content-center">
      <p-button label="Todos os Projetos" styleClass="site-bg-primary-color border-white " />
    </div>
  </div>
</article>

<article class="m-2">
  <div class="grid">
    @for(projeto of projetos;track projeto.nome ){
    <div class="sm:col-12 md:col-12 lg:col-6 mb-1">
      <p-panel [toggleable]="true" styleClass="painel-custon-projetos ">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="large"
              shape="circle" />
            <span class="font-bold site-text-primary">
              {{projeto.nome}}
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex flex-wrap align-items-center justify-content-between gap-3 h-full">
            <div class="flex align-items-center gap-2">
              <p-button label="Sobre" styleClass="site-bg-primary-color border-white	" />
              <p-button label="Demonstração" styleClass="site-bg-primary-color border-white	" />
            </div>
            <span class="site-text-secundary text-xs">
              {{projeto.ultimaAtualizacao}}
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="icons">
          <button class="p-panel-header-icon p-link mr-2">
            <span class="pi pi-cog"></span>
          </button>
        </ng-template>
        <p class="m-0 site-text-primary h-3rem ">
          {{projeto.sobre}}
        </p>
      </p-panel>
    </div>
    }

  </div>
</article>
