<article>
  <h1 class="site-text-primary">Projetos</h1>
  <h2 class="site-text-primary">Projetos de código aberto que fiz ao longo dos anos, incluindo este site, um emulador e vários jogos, aplicativos, estruturas e boilerplates.</h2>
</article>

<article>
  <div class="grid">
    <div class="col-6">
      <p-card header="Teste1"></p-card>
    </div>
    <div class="col-6">
      <p-card header="Teste4"></p-card>
    </div>
    <div class="col-6">
      <p-card header="Teste6"></p-card>
    </div>
    <div class="col-6">
      <p-card header="Teste8"></p-card>
    </div>
  </div>
</article>
