<p-card class="painel-custom-sobre-mim">
  <div class="grid site-bg-primary-color">
    <div class=" sm:col-12 md:col-3">
      <div class="grid">
        <div class="col-12 flex align-content-start justify-content-center">
          <div class="flex align-items-start">
            <div class="border-circle border-double w-full overflow-hidden ">
              <p-image src="icones/eu.jpg" alt="Image" class="mb-5" />
            </div>
          </div>
        </div>
        <div class="col-12">
          <h1 class="site-text-primary flex justify-content-center">Software Skills</h1>
          <p-chip class="custom-chip" pTooltip="Angular">
            <img src="icones/favicon.ico" alt="angular">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="VueJs">
            <img src="icones/vuejs.ico" alt="vuejs">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="Blazor">
            <img src="icones/blazor.ico" alt="blazor">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="C#">
            <img src="icones/csharp.ico" alt="csharp">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="Python">
            <img src="icones/python.ico" alt="python">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="Java Script">
            <img src="icones/js.ico" alt="js">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="Type Script">
            <img src="icones/ts.ico" alt="ts">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="Kafka">
            <img src="icones/kafka.ico" alt="kafka">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="Entity Framework">
            <img src="icones/ef.ico" alt="ef">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="MySql">
            <img src="icones/msql.ico" alt="msql">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="Oracle">
            <img src="icones/oracle.ico" alt="oracle">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="PostgreSql">
            <img src="icones/postgress.ico" alt="postgree">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="SQL Server">
            <img src="icones/sqls.ico" alt="sqls">
          </p-chip>
        </div>
      </div>
    </div>
    <div class="sm:col-12 md:col-9 ">
      <article>
        <h4 class="m-0 site-text-primary flex justify-content-center"> Vida Profissional</h4>
        <p class="site-text-primary text-center">
          Sou desenvolvedor profissional desde 2019 e atualmente estou concluindo minha graduação em Engenharia de
          Software. Ao longo da minha carreira, tive a oportunidade de participar diversos projetos em várias áreas, o
          que contribuiu significativamente para minha evolução profissional. <br />
          Atualmente, estou envolvido em um projeto e-commerce, onde tenho aprimorado meus conhecimentos em tecnologias
          como
          mensagerias e microfrontend. Essa experiência me proporcionou uma visão aprofundada sobre experiência de
          usuário e escalabilidade. <br />
          Gosto de desafios e sempre busco novas oportunidades de aprendizado. Nos meus tempos livres, gosto de criar
          pequenos projetos, colocando em prática algumas tecnologias que considero útil para meu dia a dia ou que
          despertem a minha curiosidade.
        </p>
      </article>
      <article>
        <h4 class="site-text-primary flex justify-content-center"> Vida Pessoal</h4>
        <p class="site-text-primary text-center">
          Sou uma pessoa curiosa e com interesses variados, tanto dentro quanto fora da tecnologia. Gosto de discutir
          temas que gerem boas conversas e trocas de ideias. Recentemente, minha paixão tem sido o estudo de
          Inteligência
          Artificial (IA). Estou focado em aprender Python, análise de dados e machine learning, com o objetivo de
          contribuir para algo que traga benefícios à sociedade.
          <br />
          Além da tecnologia, tenho interesse em história, instrumentos musicais e futebol. Gosto de pensar sobre
          tópicos
          como "como os Incas construíram Machu Picchu?" e "como o Gabigol perdeu aquele gol?" (sou flamenguista!).
        </p>
      </article>
      <article>
        <h4 class="site-text-primary flex justify-content-center"> Objetivos</h4>
        <p class="site-text-primary text-center">
          Meu principal objetivo profissional é continuar sendo desafiado, adquirir mais conhecimento e contribuir com
          os que estão ao meu redor. Atualmente,
          estou
          inclinado a focar na área de Inteligência Artificial, e a ideia de lecionar também me atrai
          bastante.
          <br />
          No entanto, busco ser o melhor que posso naquilo que faço hoje, sempre procurando aprender
          mais e colaborar de forma significativa.
        </p>
      </article>
    </div>
  </div>
</p-card>
