<p-card class="painel-custom-sobre-mim">
  <div class="grid site-bg-primary-color">
    <div class="col-3  ">
      <div class="grid">
        <div class="col-12 flex align-content-start justify-content-center">
          <div class="flex align-items-start">
            <div class="border-circle border-double w-full overflow-hidden ">
              <p-image src="icones/1585973876925.jpg" alt="Image" class="mb-5" />
            </div>
          </div>
        </div>
        <div class="col-12">
          <h1 class="site-text-primary">Software Skills</h1>
          <p-chip class="custom-chip" pTooltip="Angular">
            <img src="icones/favicon.ico" alt="angular">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="VueJs">
            <img src="icones/vuejs.ico" alt="vuejs">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="Blazor">
            <img src="icones/blazor.ico" alt="blazor">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="C#">
            <img src="icones/csharp.ico" alt="csharp">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="Python">
            <img src="icones/python.ico" alt="python">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="Java Script">
            <img src="icones/js.ico" alt="js">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="Type Script">
            <img src="icones/ts.ico" alt="ts">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="Kafka">
            <img src="icones/kafka.ico" alt="kafka">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="Entity Framework">
            <img src="icones/ef.ico" alt="ef">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="MySql">
            <img src="icones/msql.ico" alt="msql">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="Oracle">
            <img src="icones/oracle.ico" alt="oracle">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="PostgreSql">
            <img src="icones/postgress.ico" alt="postgree">
          </p-chip>
          <p-chip class="custom-chip" pTooltip="SQL Server">
            <img src="icones/sqls.ico" alt="sqls">
          </p-chip>
        </div>
      </div>
    </div>
    <div class="col-9">
      <article>
        <h4 class="m-0 site-text-primary"> Vida Profissional</h4>
        <p class="site-text-primary">
          Olá, meu nome é Luiz Augusto e sou desenvolvedor de software desde 2019. Atualmente, atuo como desenvolvedor
          fullstack, utilizando principalmente Angular 18 e .NET. Ao longo da minha trajetória profissional, venho
          adquirindo novos conhecimentos e paixões, o que me motivou a criar esta página para compartilhar e testar
          minhas habilidades.

          Minha carreira em TI começou cedo, aos 15 anos, quando os computadores desktop estavam se tornando populares
          nas
          casas e empresas. Nessa época, atuei como técnico, resolvendo problemas de hardware e software no dia a dia.
          Com
          o tempo, fui expandindo meus conhecimentos, passando por áreas como redes, câmeras de segurança, telefonia e
          manutenção de impressoras.

          No entanto, o desejo de me tornar programador sempre esteve presente. Apesar dos recursos limitados na época,
          tive meu primeiro contato com HTML, PHP e CSS, onde desenvolvi pequenos projetos, mesmo sem saber muito bem o
          que estava fazendo. O tempo passou, e a vontade de programar só cresceu, até que finalmente fiz meu primeiro
          curso de programação, que se tornou o marco para a mudança na minha carreira.

          Tive a sorte de encontrar um amigo com mais experiência que me ajudou a concretizar meus conhecimentos sobre
          programação. Através das nossas conversas e projetos, fui ganhando confiança até conseguir minha primeira
          oportunidade como desenvolvedor. Trabalhei por dois anos como desenvolvedor backend e, curiosamente, a
          linguagem
          Java que tanto admirei na infância deu lugar ao C#, com o qual trabalho até hoje.

          Com a chegada da pandemia, precisei me adaptar e comecei a estudar e trabalhar com front-end, o que me levou a
          atuar como desenvolvedor fullstack desde então.
        </p>
      </article>
      <article>
        <h4 class="site-text-primary"> Vida Pessoal</h4>
        <p class="site-text-primary">
          Sou uma pessoa curiosa e com interesses variados, tanto dentro quanto fora da tecnologia. Gosto de discutir
          temas que gerem boas conversas e trocas de ideias. Recentemente, minha paixão tem sido o estudo de
          Inteligência
          Artificial (IA). Estou focado em aprender Python, análise de dados e machine learning, com o objetivo de
          contribuir para algo que traga benefícios à sociedade.

          Além da tecnologia, tenho interesse em história, instrumentos musicais e futebol. Gosto de pensar sobre
          tópicos
          como "como os Incas construíram Machu Picchu?" e "como o Gabigol perdeu aquele gol?" (sou flamenguista!).
        </p>
      </article>
      <article>
        <h4 class="site-text-primary"> Objetivos</h4>
        <p class="site-text-primary">
          Meu principal objetivo profissional é continuar sendo desafiado e adquirir mais conhecimento. Atualmente,
          estou
          inclinado a focar na área de Inteligência Artificial, com o desejo de, no futuro, trabalhar em projetos
          voltados
          para a medicina. Além disso, a ideia de me tornar professor também me atrai bastante.

          No entanto, meu maior objetivo é ser o melhor que eu posso naquilo que faço hoje, sempre procurando aprender
          mais e aperfeiçoar minhas habilidades.
        </p>
      </article>
    </div>
  </div>
</p-card>
