:root {
  --primary-bg-color:#2d3748;
  --primary-font-color:#FFFFFF;
  --secondary-bg-color: #a79f9f;
  --secondary-font-color: #cbe016;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: var(--primary-bg-color)
}
.site-text-primary {
  color: var(--primary-font-color);
}

.site-text-secundary {
  color: var(--secondary-font-color);
}

.site-bg-primary-color {
  background-color: var(--primary-bg-color);
}

.site-bg-secundary-color {
  background-color: var(--secondary-bg-color);
}

.painel-custom-projetos {
 .p-panel-header,  .p-panel-content  {
    background-color: transparent;
  }

  .p-panel-content{
    border-bottom: none;

  }
  .p-panel-footer{
    background-color: transparent;
  }
  .p-toggleable-content .ng-trigger .ng-trigger-panelContent{
    background-color: transparent;

  }
  height: 100%;
}

.header-customizado {
  border: none;
}

.btn-contato-personalizado{
  background-color: transparent;
  border: none;
  width: 30px;

}

.btn-contato-personalizado:focus {
  background-color: var(--site-bg-primary-color); /* Muda a cor de fundo ao focar */
  border: 1px solid transparent; /* Define a borda transparente */
  outline: none; /* Remove o contorno padrão */
}

.painel-custom-sobre-mim{
  .p-card-body {
    background-color: var(--primary-bg-color);
  }
}
.custom-chip {
  .p-chip  {
    background-color: transparent ;
  }
}


@media (max-width:767px) {
  .responsive-name {
    display: none;
  }

}
