:root {
  --primary-bg-color:#2d3748;
  --primary-font-color:#FFFFFF;
  --secondary-bg-color: #a79f9f;
  --secondary-font-color: #cbe016;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: var(--primary-bg-color)
}
.site-text-primary {
  color: var(--primary-font-color);
}

.site-text-secundary {
  color: var(--secondary-font-color);
}

.site-bg-primary-color {
  background-color: var(--primary-bg-color);
}

.site-bg-secundary-color {
  background-color: var(--secondary-bg-color);
}

.fieldset-custom-apresentacao {
  .p-fieldset-legend, .ng-trigger {
    background-color: transparent;
    color: var(--primary-font-color);;
    border: none;
   }
}

.p-fieldset {
  background-color: transparent;
}

.painel-custom-projetos {
 .p-panel-header,  .p-panel-content  {
    background-color: transparent;
  }

  .p-panel-content{
    border-bottom: none;

  }
  .p-panel-footer{
    background-color: transparent;
  }
  .p-toggleable-content .ng-trigger .ng-trigger-panelContent{
    background-color: transparent;

  }
  height: 100%;
}
.menu-custom-header{
  .p-menuitem-text, .p-menuitem-icon {
    color: var(--primary-font-color);
  }
  .p-menuitem-active .p-menuitem-text, .p-menuitem-active .p-menuitem-icon, .p-menuitem-link{
    color: var(--primary-font-color);
  }
  .p-menuitem-active .p-menuitem-content, .p-menubar-root-list{
    background-color: var(--primary-bg-color);
  }
  .p-submenu-list{
    padding: 0;
  }
}

.p-menubar .p-menubar-root-list > .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover{
  background-color:var(--primary-bg-color)
}

.p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content{
  background-color:var(--primary-bg-color)
}

.ng-tns-c3223267463-0 {
  margin-bottom: -10px;
}

.painel-custom-sobre-mim{
  .p-card-body {
    background-color: var(--primary-bg-color);
  }
}
@media (max-width:767px) {

}
